body {
  background-color: #98A4DC;
  font-family: Garamond, Baskerville, "Times New Roman", serif;
  font-size: 100%;
  font-variant: small-caps;
  font-weight: 600;
}
div, header {
  border-radius: 1em;
  background-color: white;
}
#random {
  position: fixed;
  left: 0;
  white-space: pre;
  width: 1px;
  word-break: break-all;
}
#navbar {
  position: fixed;
  right: 0;
}
