body {
  background-color: #98A4DC;
  font: normal small-caps 600 1em Garamond, Baskerville, "Times New Roman", serif;
}
div, header {
  border-radius: 1em;
  background-color: white;
}
#random {
  position: fixed;
  left: 0;
  top: 50%;
  white-space: pre-wrap;
  width: 1em;
  word-break: break-all;
}
#navbar {
  position: fixed;
  right: 0;
}
